@import url("//fonts.googleapis.com/css?family=Work+Sans:wght@400;600;700&display=swap");

$font-family-sans-serif: 'Work Sans', sans-serif;
$font-family-sans-serif-secondary: 'Work Sans', sans-serif;

$primary: #214252;
$secondary: #4D4C7D;

@import '~bootstrap-icons/font/bootstrap-icons';

@import 'bootstrap/mixins';
@import 'bootstrap/functions';
@import 'bootstrap/variables';

@import 'bootstrap/bootstrap';

@import 'components/site-navbar';
@import 'components/site-base';
@import 'components/site-blocks';
@import 'components/site-footer';

@import './../../node_modules/bootstrap-icons/font/bootstrap-icons';
@import './../../node_modules/tiny-slider/dist/tiny-slider.css';
@import './../../node_modules/glightbox/dist/css/glightbox.css';
@import './../../node_modules/flatpickr/dist/flatpickr.css';
@import '../fonts/vendor/flaticon/font/_flaticon.scss';
@import '../fonts/vendor/icomoon/style.css';
@import "style";






